### Import ids for randomization

In [2]:
import pandas as pd

pos_id = pd.read_csv("pos_cluster/positive_representative_data.tsv" , sep="\t" , usecols=[0] , names=["id"] , skiprows=1)
neg_id = pd.read_csv("neg_cluster/negative_representative_data.tsv" , sep="\t" , usecols=[0] , names=["id"] , skiprows=1)
pos_id.head()

       id
0  O43155
1  O43866
2  O75629
3  O94985
4  P01579

In [15]:
neg_id.head()

       id
0  Q6YN16
1  Q9NTK1
2  P50542
3  P49419
4  Q9Y3I1

### Randomization of positive and negative ids

In [23]:
#DO NOT RERUN THIS CELL

pos_random = pos_id.sample(frac=1).reset_index(drop=True)
neg_random = neg_id.sample(frac=1).reset_index(drop=True)

In [25]:
pos_random.head()

       id
0  Q9P2K2
1  P81383
2  O01949
3  Q8WZI8
4  P12024

In [26]:
neg_random.head()

       id
0  A4D1E9
1  O70343
2  Q8IYR2
3  Q9NZE8
4  Q9C0U3

### Divide 80% training and 20% benchmark sets

In [67]:
#training set creation

n_pos = int(len(pos_random) * 0.8)
n_neg = int(len(neg_random) * 0.8)

training_pos = pos_random[:n_pos] 
training_neg = neg_random[:n_neg]

In [68]:
print(n_pos , n_neg)

874 7147

In [69]:
training_pos.tail()

         id
869  B0XT72
870  P26732
871  Q6UWI4
872  P48747
873  E0X9F6

In [70]:
training_neg.tail()

          id
7142  P03903
7143  Q91836
7144  Q8NBV4
7145  P53203
7146  Q9VE86

In [71]:
#benchmark set creation

benchmark_pos = pos_random[n_pos:] 
benchmark_neg = neg_random[n_neg:]

In [72]:
benchmark_pos.head()

         id
874  P34998
875  P27275
876  P55058
877  Q8T0W8
878  Q9BXJ3

In [73]:
benchmark_neg.head()

          id
7147  Q9NQC7
7148  Q8BZT9
7149  Q4FZC9
7150  Q9C086
7151  P47148

In [79]:
# Check if we have intersection between datasets

check1 = pd.merge(benchmark_neg , training_neg , how="inner")
check2 = pd.merge(benchmark_pos , training_pos , how="inner")
print(check1)
print(check2)

Empty DataFrame
Columns: [id]
Index: []
Empty DataFrame
Columns: [id]
Index: []

In [88]:
# Merge positive and negative benchmark sets

benchmark = pd.concat([benchmark_neg , benchmark_pos] , ignore_index=True)
#len(benchmark)
print(len(benchmark_pos),'+',len(benchmark_neg),'=',len(benchmark_neg)+len(benchmark_pos))

219 + 1787 = 2006

### Create fasta file benchmark

In [4]:
from sys import argv
from Bio import SeqIO
import subprocess
import shlex
'''
Takes as input a list of ids as argv[1] (ids that contain the > character)
and as argv[2] a dataset of fasta sequences (for example the entire swissprot)
'''

output_file_name = 'benchmark.fasta'
with open(to_get , 'r') as file:
    ids_to_get = {line[1:].strip() for line in file}

found = 0 #keeps track of single ids.
counter = len(ids_to_get)

with open(dataset , 'r') as file1 , open(output_file_name , 'w') as file2:
    for prot in SeqIO.parse(file1 , 'fasta'):
        if prot.id in ids_to_get:
            found = found + 1
            SeqIO.write(prot , file2 , 'fasta')
        else:
            pass

NameError: name 'to_get' is not defined